@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	font: 110%/140% 'Oswald', Helvetica, sans-serif;
}

/* Don't let users select inside the form */
form {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* Remove webkit inner spinners */
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/**
 * Ratchet overrides
 */

.bar-title {
	background-color: #34495E;
}

.content {
	padding: 0.7em 3px;
}

.input-group, .input-row {
	border: 0;
	padding: 0;
}

.input-row {
	margin: 3px;
	position: relative;
}

/**
 * Custom styles
 */

label {
	position: absolute;
	top: 0;
	z-index: 10;
}

label.checkbox {
	position: inherit;
}

input[type], button {
	border: 3px solid #222222;
	padding: 0;
	height: 43px;

	border-radius: 7px;
	box-sizing: border-box;

	position: relative;
}

input[type] {
	padding: 0 7px;
	text-align: right;
	font-size: 160%;
}

input[type]:active,
input[type]:focus {
	background-color: #E74C3C;
	border-color: #E74C3C;
	color: #ffffff;
	outline: 0;
}

input[type=checkbox] {
	-webkit-appearance: none;
	width: 43px;
	height: 43px;
}

input[type=checkbox]:checked {
	background-color: #E74C3C;
	border-color: #E74C3C;
	color: #ffffff;
	outline: 0;
}

p {
	font-weight: 300;
}

strong, em, span {
	font-weight: 400;
	font-size: 140%;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

strong {
	color: #3498DB;
}

em {
	color: #E74C3C;
}

span {
	color: #34495E;
}
